# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Python
__pycache__/
.pytest_cache/

# OS / editor
.DS_Store

# Hugo
cv-generator/public/
cv-generator/resources/
cv-generator/.hugo_build.lock

# Node
node_modules/
npm-debug.log
package-lock.json